<header>
  <nav>
    <ul>
      <li><%= link_to "・MyNegatives" , mynegatives_path, class: "mynegatives" %></li>
      <li>・~~~~~~~~</li>
      <li>・~~~~~~~~</li>
      <li>・~~~~~~~~</li>
    </ul>
    <div>
      <p>・~~~~~~~~</p>
    </div>
  </nav>
</header>